/* CSS for CheckAgain */

/*
0. SASS
1. Base
2. Layout
3. Modules
4. States

*/

/* ------------------------- 
	SASS
---------------------------- */

/* Variables */
$ghost: #efefef;
$pale: #ccccff;
$mid: #666699;
$dark: #000033;
$bright: #3333cc;
$charcoal: #333333;

$white : #fff;
$black : #000;
$error : #f00;
$valid : #089e00;
$warning : #fff664;
$information : #000db5;

/* ------------------------- 
	BASE
---------------------------- */

/* base styles provided by Bootstrap via CDN 
   overrides here */

a {
	color: $bright;
	text-decoration: underline;
}

/* ------------------------- 
	LAYOUT
---------------------------- */

header, main, .l-tools, footer {
	padding: 1em 2em;
}

.l-tools {
background: $ghost;}

footer {
font-size: 0.8em;
color: $mid;}


/* ------------------------- 
	MODULES
---------------------------- */

.m-master,
.m-list {
	border: 1px solid $pale;
	border-radius: 3px;}

.m-master li,
.m-list li {
	padding: 0.5em;}

.m-master button,
.m-list button {
	}

.m-tools li {
	display: inline;
	margin-right: 2em;}


/* ------------------------- 
	STATES
---------------------------- */

