/* CSS for CheckAgain */
/*
0. SASS
1. Base
2. Layout
3. Modules
4. States

*/
/* ------------------------- 
	SASS
---------------------------- */
/* Variables */
/* ------------------------- 
	BASE
---------------------------- */
/* base styles provided by Bootstrap via CDN 
   overrides here */
/* line 38, checkagain.scss */
a {
  color: #3333cc;
  text-decoration: underline;
}

/* ------------------------- 
	LAYOUT
---------------------------- */
/* line 47, checkagain.scss */
header, main, .l-tools, footer {
  padding: 1em 2em;
}

/* line 51, checkagain.scss */
.l-tools {
  background: #efefef;
}

/* line 54, checkagain.scss */
footer {
  font-size: 0.8em;
  color: #666699;
}

/* ------------------------- 
	MODULES
---------------------------- */
/* line 64, checkagain.scss */
.m-master,
.m-list {
  border: 1px solid #ccccff;
  border-radius: 3px;
  padding: 1em;
  padding-left: 2em;
}

/* line 71, checkagain.scss */
.m-master li,
.m-list li {
  margin-bottom: 0.75em;
}

/* ------------------------- 
	STATES
---------------------------- */
